/*Aqui é a cor da página*/
body {
  background-color: #d77c1e;
}

/*link Logo Principal*/
.link_logo_wizarding {
  display: block; /* Torna o link um bloco para definir largura e altura */
  width: 100px;
  height: 100px;
  text-align: center; /* Centraliza o link */
  margin: 0 auto; /* Centraliza o link horizontalmente na página */
  text-decoration: none; /* Remove sublinhado padrão do link */
}

/*Imagem Logo principal*/
.img_logo_wizarding {
  width: 100%; /* A imagem ocupa 100% da largura do link */
  height: 100%; /* A imagem ocupa 100% da altura do link */
  margin: 10px 0px 0px 0px;
}

/*Tamanho Logos Casas*/
.logospequenas {
  width: 27px; /* Define a largura desejada para a imagem em pixels */
  height: auto; /* Mantém a proporção original da imagem */
}

/*Posição Logo Casas*/
.posiçaologos {
  text-align: right;
  margin: -27px 0px 21px 0px;
  padding: 0px 10px 0px 0px;
}

.nav {
  display: flex;
  background-color: #740001;
  list-style: none;
  align-items: center;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
}

li {
  margin: 0px;
  padding: 5px;
}

.link_nav {
  padding: 6px;
  color: #ecc970;
  text-decoration: none;
}

/*seta de indicação*/
.arrow::before {
  content: "→"; /* Define o conteúdo do pseudo-elemento como uma seta para a direita */
  margin: 5px 10px 5px 10px; /* Espaço entre o texto e a seta */
  color: #740001; /* Define a cor da seta */
  font-size: 20px; /* Define o tamanho da seta */
}

/* INÍCIO Conteiner LINHAS COM TEXTO ENTRE AS LINHAS*/
.container {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  height: 7vh; /* Define a altura da área de visualização da página */
}

.linha-horizontal {
  border-top: 3px solid #740001; /* Define a cor e a largura da linha */
  width: 30%; /* Define a largura da linha horizontal */
  margin: 0px; /* Adiciona margens para espaçamento */
}

.texto-entre-linhas {
  margin: 0px 75px 0px 75px; /* Adiciona margens para espaçamento */
  color: #740001;
  font-size: 20px;
}
/* FIM Conteiner LINHAS COM TEXTO ENTRE AS LINHAS*/

/* INICIO Conteiner PRINCIPAL*/
.background {
  color: #ecc970;
  background-color: #740001;
  margin: 30px 0px 0px 20%;
  padding: 2% 13% 2% 13%;
  width: 33%;
  border: 2px;
  border-radius: 40px;
}

.img_houses {
  width: auto;
  height: 100px;
  margin: 35px 0px 2px 0px;
  padding: 0px 13px 0px 0px;
}

/* INICIO Conteiner PRINCIPAL*/
